<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <nav>
        <a href={% url "inicio"%}>Inicio</a>
        <a href={% url "clientes"%}>Clientes</a> 
        <a href={% url "registrar_cliente"%}>Registrar cliente</a>
    </nav>
    <h1> Portal de Clientes: Registro y Listado</h1>
    <p>¡Bienvenido a mi primer página web! Preentrega #3 de Sofía Martínez Bauer</p>
    
</body>
</html>