<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar cliente</title>
</head>
<body>
    <nav>
        <a href={% url "inicio"%}>Inicio</a>
        <a href={% url "clientes"%}>Clientes</a> 
        <a href={% url "registrar_cliente"%}>Registrar cliente</a>
    </nav>
    <h2>Registrar cliente</h2>

    <form actions={%url "registrar_cliente"%} method="POST">
        {%csrf_token%}
        <table>
            {{formulario}}
       </table>
        <input type='submit' value='Guardar'>
        
    </form>
</body>
</html>